{% block content %}
<!--Topside-->
{% load crispy_forms_tags %}
<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h3>Information</h3>
        </div>
        <div class="card-body">
          <marquee behavior="" direction="">
            <h3 class="my-2">
              Welcome to Estate and works maintenance Database systems
            </h3>
            <div class="offset-3">
              <span>Safety,</span>
              <span>Fault Detection</span>
              <span> and Rectification</span>
            </div>
          </marquee>
        </div>
      </div>
    </div>
    <!--staff profile-->
    <div class="col-md-6 mb-5 offset-2">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h3>Staff Profile</h3>
        </div>
        <div class="card-body">
          <div class="card my-card shadow text-left p-3">
            <h2>
              Welcome,
              <span style="font-size: 32px; color: green"
                >{{user.username}} &#128077;
              </span>
            </h2>
          </div>
        </div>
      </div>
      <!--staff profile end-->
    </div>

    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
    <!--Staff Previous Report-->
    <div class="row p-3 offset-1">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h3>Issues Reported</h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="row">Staff</th>
                <th scope="row">Department</th>
                <th scope="row">Campus</th>
                <th scope="row">Fault</th>
                <th scope="row">Date</th>
              </tr>
            </thead>
            <tbody>
              {% for report in reports %}
              <tr>
                <td>{{report.staff}}</td>
                <td>{{report.department}}</td>
                <td>{{report.campus}}</td>
                <td>{{report.fault_detection}}</td>
                <td>{{report.date_reported}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% else %} {% include 'dashboard_template/civil.html' %}

    <!--End Topside-->
  </div>
  {% endif %}
</div>
{% endblock %}
