{% block content %}
<!--Topside-->
<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-info text-white">Information</div>
        <div class="card-body">
          <marquee behavior="" direction="">
            <h3 class="my-4">Welcome to Estate and works Database</h3>
          </marquee>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-info text-white">Departments</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <a class="text-decoration-none text-dark" href="staff.html">
                <div class="card my-card shadow text-center p-3">
                  <h4>Civil<i class="fas fa-users"></i></h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Animi nemo quo doloribus labore odio ratione totam nisi
                    necessitatibus voluptates esse iure, libero, error
                    consequatur accusamus voluptatibus corrupti. Tempore,
                    voluptas cumque.
                  </p>
                  <a href="{% url 'dashboard-civil' %}" class="btn btn-primary"
                    >Contact us</a
                  >
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a class="text-decoration-none text-dark" href="product.html">
                <div class="card my-card shadow text-center p-3">
                  <h4>Mechanical <i class="fas fa-box"></i></h4>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Numquam cum molestiae quas adipisci consequatur, praesentium
                    rerum placeat laborum molestias, aliquid, repellat explicabo
                    earum blanditiis saepe. Animi illo facere ut sed?
                  </p>
                  <a
                    href="{% url 'dashboard-mechanical' %}"
                    class="btn btn-primary"
                    >Contact us</a
                  >
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a class="text-decoration-none text-dark" href="order.html">
                <div class="card my-card shadow text-center p-3">
                  <h4>Electrical <i class="fas fa-shipping-fast"></i></h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quas odio rem id, vel sequi accusantium sunt? Commodi,
                    dignissimos, officiis et, veritatis velit repellat error
                    explicabo quas similique a suscipit asperiores.
                  </p>
                  <a
                    href="{% url 'dashboard-electrical' %}"
                    class="btn btn-primary"
                    >Contact us</a
                  >
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Topside-->
{% endblock %}
