{% block content %}
<div class="container">
  <marquee behavior="" direction="">
    <div class="card">
      <div class="card-body p-5">
        <h3 class="text-bg-primary">
          Welcome to Estate and Works department FCET, Omoku
        </h3>
        <p class="text-center">We build and maintain the college....</p>
      </div>
    </div>
  </marquee>
  <div class="department--card">
    <div class="dp-card1 card g-col-4" style="width: 18rem">
      <img src="" alt="My Image" />
      <div class="card-body">
        <h5 class="card-title">Project</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="{% url 'dashboard-project' %}" class="btn btn-primary"
          >Explore</a
        >
      </div>
    </div>
    <div class="dp-card2 card g-col-4" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Transport</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="{% url 'dashboard-transport' %}" class="btn btn-primary"
          >contact us</a
        >
      </div>
    </div>
    <div class="dp-card3 card g-col-4" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Mechanical</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="{% url 'dashboard-mechanical' %}" class="btn btn-primary"
          >Contact us</a
        >
      </div>
    </div>
    <div class="dp-card4 card g-col-4" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Electrical</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="{% url 'dashboard-electrical' %}" class="btn btn-primary"
          >Contact usl</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
